.shipPart {
  height: 40px;
  width: 40px;
  background-color: black;
  cursor: pointer;
  display: inline-block;
}

.ship {
  display: block;
}

.held {
  border: solid 10px black;
  background-color: black;
}

.holder {
  height: 50px;
  width: 50px;
  border: solid 1px #666;
  background-color: white;
  display: inline-block;
}

.hovered {
  border: dotted 5px black;
}

.invisible {
  display: none;
}

#container {
  margin: auto;
  top: 100px;
  width: 400px;
  position: relative;
}

.board-row {
  line-height: 0px;
  max-width: 100%;
  display: block;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
