.vertical {
  transform: rotate(90deg);
}

.horizonatal {
  transform: none;
}

.ship-group {
  display: inline-block;
  margin: 10px 20px;
}

.ship-group .fa-times {
  position: absolute;
  right: -10px;
  top: -10px
}

.ship-group .fa-repeat {
  position: absolute;
  right: -10px;
  bottom: 10px
}

.ship {
  position: relative;
  display: block;
  float: left;
}

.ship[draggable="false"] {
  opacity: 0.5;
}

.held {
  border: solid 10px black;
  background-color: black;
}

.holder {
  height: 50px;
  width: 50px;
  border: solid 1px #666;
  background-color: white;
  display: inline-block;
}

.hovered {
  border: dotted 5px black;
}

.invisible {
  display: none;
}

#container {
  margin: auto;
  top: 100px;
  width: 400px;
  position: relative;
}

.board-row {
  line-height: 0px;
  max-width: 100%;
  display: block;
}

@media screen and (max-width: 600px) {
  .holder {
    width: 20px;
    height: 20px;
  }
}