<div *ngIf="userRoutingMatch; then matchUser; else matchWaiting"></div>

<ng-template #matchUser>
  <h1>Lista dei match</h1>
  <div *ngIf="matches.length === 0">
    <h2>Il giocatore non ha giocato alcun match!</h2>
  </div>
</ng-template>

<ng-template #matchWaiting>
  <h1>Lista dei match</h1>
  <div *ngIf="matches.length === 0">
    <h2>Nessun match pronto per essere giocato!</h2>
  </div>
  <div *ngFor="let match of matches">
    <div *ngIf="match.owner != null">
        <p><b>Data di creazione</b> {{match.timestamp}}</p>
        <p *ngIf="match.owner.username != userService.get_username()"><b>Entra nella partita di: </b><a routerLink="/user/{{match.owner.username}}">{{match.owner.username}}</a></p>
        <p *ngIf="match.owner.username == userService.get_username()"><b>Guarda lo stato della tua partita</b></p>
        <button class="btn btn-primary" (click)="enterMatch(match._id)">Entra nella partita!</button>
        <hr>
    </div>
  </div>
  <div *ngIf="errormessage" class="alert alert-primary-danger">{{errormessage}}</div>
  <button *ngIf="userHadAlreadyWaitingMatch != true" class="btn btn-primary" (click)="createMatch()">Crea una nuova partita</button>
</ng-template>