<div class="row col">
  <h1>Registrazione</h1>
</div>
<form>
  <div class="row col">
    <div class="form-group">
      <label for="inputName">Nome</label>
      <input type="password" class="form-control" id="inputNewName" placeholder="Inserisci il nome">
    </div>
    <div class="form-group">
      <label for="inputSurname">Cognome</label>
      <input type="password" class="form-control" id="inputNewSurname" placeholder="Inserisci il cognome">
    </div>
  </div>
  <div class="row col">
    <div class="form-group">
      <label for="inputUsername">Username</label>
      <input type="email" class="form-control" id="inputNewUsername" placeholder="Inserisci lo Username">
    </div>
    <div class="form-group">
        <label for="inputEmail1">Indirizzo Email</label>
        <input type="email" class="form-control" id="inputNewEmail1" placeholder="Inserisci l'email">
      </div>
  </div>
  <div class="row col">
    <div class="form-group">
      <label for="inputPassword1">Password</label>
      <input type="password" class="form-control" id="inputNewPassword1" placeholder="Inserisci la password">
    </div>
    <div class="form-group">
      <label for="inputPassword2">Password</label>
      <input type="password" class="form-control" id="inputNewPassword2" placeholder="Ripeti la password">
    </div>
  </div>
  <button class="btn btn-primary" id="registerNewAccount">Crea l'account</button>
</form>
