<div class="row col">
  <h1>Le tue chat</h1>
</div>
<div *ngIf="chats.length === 0">
  <h2>Nessuna chat presente</h2>
  <p>
    <a routerLink="/players">Cerca</a> un giocatore per iniziare una chat con lui</p>
</div>
<div *ngFor="let chat of chats">
  <div class="row">
    <div class="col-8">
      <span class="align-middle">
        <a routerLink='/chats/{{chat._id}}'>Clicca</a> per visualizzare la tra l'utente
        <span *ngIf="chat.user1ID == null"><i>utente eliminato</i></span>
        <a *ngIf="chat.user1ID != null && chat.user1ID.username != userService.get_username()" routerLink='/user/{{chat.user1ID.username}}'>{{chat.user1ID.username}}</a>
        <a *ngIf="chat.user1ID != null && chat.user1ID.username == userService.get_username()" routerLink='/user'>{{chat.user1ID.username}}</a>
        e l'utente
        <span *ngIf="chat.user2ID == null"><i>utente eliminato</i></span>
        <a *ngIf="chat.user2ID != null && chat.user2ID.username != userService.get_username()" routerLink='/user/{{chat.user2ID.username}}'>{{chat.user2ID.username}}</a>
        <a *ngIf="chat.user2ID != null && chat.user2ID.username == userService.get_username()" routerLink='/user'>{{chat.user2ID.username}}</a>
      </span>
    </div>
    <div class="col-4">
      <button class="alert alert-danger align-middle" style="padding:.3em" (click)="deleteChat(chat._id)">Cancella la chat</button>
    </div>
  </div>
</div>