<div class="row col">
  <h1>Scoreboard</h1>
</div>
<!-- Header-->
<div class="row">
  <div class="col-md-8">
    <p>
      <b>Username</b>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <b>Punteggio</b>
    </p>
  </div>
</div>
<!-- Content-->
<div *ngFor = "let score of scoreboard">
  <div class="row">
    <div class="col-md-8">
      <p>
        <a routerLink='/users/{{score.username}}'>{{score.username}}</a>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        {{score.partiteVinte}}
      </p>
    </div>
  </div>
</div>
<div class="row py-2">
  <select class="form-control" (click)="changeLimit(limitScoreboard.value)" #limitScoreboard>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="100">100</option>
  </select>
</div>
