<div class="row col">
  <h1>Il tuo profilo</h1>
</div>
<!-- Profile image-->
<div class="row">
  <div class="col text-center">
    <img src="https://pbs.twimg.com/profile_images/1532886460/He-man_400x400.jpg" style="width:13em;border-radius:50%" class="center-block">
  </div>
</div>
<!-- Info account-->
<div class="container py-5">
  <div class="row py-2">
    <div class="col-6">
      <b>Username</b>
    </div>
    <div class="col-6">
      <input type="text" #usertxt required="true" value="{{this.userService.get_name()}}" class="form-control">
    </div>
  </div>
  <div class="row py-2">
    <div class="col-6">
      <b>Nome</b>
    </div>
    <div class="col-6">
      <input type="text" #nametxt required="true" value="{{this.userService.get_name()}}" class="form-control">
    </div>
  </div>
  <div class="row py-2">
    <div class="col-6">
      <b>Cognome</b>
    </div>
    <div class="col-6">
      <input type="text" #surnametxt required="true" value="{{this.userService.get_surname()}}" class="form-control">
    </div>
  </div>
  <div class="row py-2">
    <div class="col-6">
      <b>Email</b>
    </div>
    <div class="col-6">
      <input type="email" #mailtxt required="true" value="{{this.userService.get_mail()}}" class="form-control">
    </div>
  </div>
  <div class="row py-2">
    <div class="col-6">
      <input type="password" #newpassword1 required="true" placeholder="Nuova password" class="form-control">
    </div>
    <div class="col-6">
      <input type="password" #newpassword2 required="true" placeholder="Ripeti nuova password" class="form-control">
    </div>
  </div>
  <div class="row py-2">
    <div class="col-12">
      <a routerLink="/matches">Partite giocate</a>
    </div>
  </div>
  <div *ngIf="errmessage" class="alert alert-danger" role="alert">
    Errore: {{errmessage}}
  </div>
  <div *ngIf="okmessage" class="alert alert-success" role="alert">
    {{okmessage}}
  </div>
  <div class="row col py-2">
    <button type="button" class="btn btn-primary" (click)="updateInfo(usertxt.value, nametxt.value, surnametxt.value, mailtxt.value, newpassword1.value, newpassword2.value)">Aggiorna le informazioni</button>
  </div>
  <div class="row col py-2">
    <button type="button" class="btn btn-danger" (click)="deleteThisUser()">Elimina l'utente</button>
  </div>
</div>